<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <%include file="includes/head.html" />
    <body>
        % if content.get('items'):
            <%
                anchor_id = "dragons"
            %>
            % for item in content['items']:
                % if item.get('image'):

    <div
        class="parallax-image-wrapper parallax-image-wrapper-100"
        data-anchor-target="#${anchor_id} + .gap"
        data-bottom-top="transform:translate3d(0px, 200%, 0px)"
        data-top-bottom="transform:translate3d(0px, 0%, 0px)">
        <div
            class="parallax-image parallax-image-100"
            style="background-image:url('${item['image']}')"
            data-anchor-target="#${anchor_id} + .gap"
            data-bottom-top="transform: translate3d(0px, -80%, 0px);"
            data-top-bottom="transform: translate3d(0px, 80%, 0px);"
        ></div>
        <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
    </div>
                    <%
                        anchor_id = 'item_' + str(loop.index)
                    %>
                % endif
            % endfor
        % endif
        <%include file="includes/navigation.html" args="menu=menu" />
        <div id="skrollr-body">
            <div class="introduction" id="dragons">
                ${content['introduction']}
            </div>
            % if content.get('items'):
                % for item in content['items']:
                    % if item.get('image'):
                        <div class="gap gap-50" style="background-image:url(${item['image']});"></div>
                    % endif
                    <div class="content"  id="item_${loop.index}">
                          <%include file="menu_item/menu_item.html" args="item=item" />
                    </div>
                % endfor
            % endif
        </div>
        <%include file="includes/footer.html" />
    </body>
</html>
