<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <%include file="includes/head.html" />
    <body class="main_menu_body">
        <%include file="includes/navigation.html" args="menu=menu" />
        <div class="background_image">
            <img src="/static/images/bg_dessert.jpg" alt="chalkboard" />
        </div>

        <div class="main_content_container" id="skrollr-body">
            <div class="introduction">
                % for line in content['content']:
                    ${line}
                % endfor
                <!-- <p>Learning is a professional necessity, you can always learn from
            <ul class='accented list'>
                <li>I think that <b>raising the bar</b> is a professional necessity. One can always learn.</li>
                <li>I'm not afraid of <b>responsibilities.</b></li>
                <li>Standard software is never a complete solution. <b>Building custom software</b> is a necessity.
                    You can never make a real difference with standard solutions.
                </li>
                <li>Don't work on a product you'll never want to use yourself.</li>
                -->
                <div class="clearfix"></div>
            </div>
            <br/>
        </div>
        <%include file="includes/footer.html" />
    </body>
</html>
