<div class="footer">
    <ul class="footer_nav">
        <li>
            <h5>Code</h5>
        </li>
        <li>
            <a href="https://bitbucket.org/bartee" target="_blank">
                <i class="fa fa-bitbucket"></i>
                <span>BitBucket: BarTee</span>
           </a>
        </li>
        <li>
            <a href="https://github.com/bartee/" target="_blank">
                <i class="fa fa-github"></i>
                <span>Github: BarTee</span>
           </a>
        </li>
    </ul>
    <ul class="footer_nav right">
        <li>
            <h5>Contact</h5>
        </li>
        <li>
            <a href="https://twitter.com/bartstroeken" target="_blank">
                <i class="fa fa-twitter"></i>
                <span>Twitter: @bartstroeken</span>
           </a>
        </li>
        <li>
            <a href="https://nl.linkedin.com/in/bartstroeken" target="_blank">
                <i class="fa fa-linkedin"></i>
                <span>Linked In</span>
           </a>
        </li>
        <li>
            <a href="mailto:bart.stroeken@gmail.com" target="_blank">
                <i class="fa fa-envelope"></i>
                <span>bart.stroeken [at] gmail.com</span>
           </a>
        </li>
    </ul>

</div>
<script type="text/javascript" src="/static/js/skrollr.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">
        var navcontainer;
        $(document).ready(function(){
            skrollr.init({
                smoothScrolling: false,
                mobileDeceleration: 0.004
            });
            navcontainer = jQuery('#navigation_container');
            jQuery('#menu-btn').on('click', function(){
                if (navcontainer.hasClass('display')){
                    navcontainer.removeClass('display');
                } else {
                    navcontainer.addClass('display');
                }
            });
        });
    </script>
    <script src="/static/js/plugins.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="/static/js/main.js"></script>

    <script type="text/javascript">
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-62348254-1','auto');ga('send','pageview');
    </script>