<%page args="item"/>

<h2>${item['title']}</h2>
<div class="price_container">
    <div class="price">${item['year']}</div>
</div>
<h4>${item['subtitle']}</h4>
<div class="item_content">
    % if item.get('tools'):
        <div class="tools">
            <ul>
                % for tool in item['tools']:
                    <li>${tool}</li>
                % endfor
            </ul>
        </div>
    % endif

    % for line in item['content']:
        ${line}
    % endfor
    <div class="clearfix"></div>
</div>
